.Header{
    background-color: royalblue;
    text-align: center;
}
.Item{
    text-align: center;
}
.item1{
    text-align: center;
}
.item2{
    text-align: center;
}
.item3{
    text-align: center;
}
.item4{
    text-align: center;
}
.item5{
    text-align: center;
}
.item6{
    text-align: center;
}